<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>    
    <ion-title>Scenario Options</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding display="block">
  <br>
  <ion-label color="dark">Choose an scenario:</ion-label>
  <br>
  <ion-button size="medium" fill="outline" (click)="setScenario('CLIMATE')">Climate</ion-button>
  <br>
  <ion-button size="medium" fill="outline" (click)="setScenario('LANDUSE')">LANDUSE</ion-button>
  <br>
  <ion-button size="medium" fill="outline" (click)="setScenario('DEFORESTATION')">DEFORESTATION</ion-button>
  <br>
  <ion-button size="medium" fill="outline" (click)="setScenario('TROPIC')">TROPIC</ion-button>
  <br>
  <ion-button size="medium" fill="outline" (click)="setScenario('EXTINCTIONS')">EXTINCTIONS</ion-button>
  <br>
</ion-content>
