<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>    
    <ion-title>Scenario Options</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding display="block">
  <br>
  <ion-label color="dark">Choose an scenario:</ion-label>
  <br>
  <button mat-button (click)="setScenario('climate')">Climate</button>
  <br>
  <button mat-button>Land use</button>
  <br>
  <button mat-button>Deforestation</button>
  <br>
  <button mat-button>Tropic</button>
  <br>
  <button mat-button>Extinctions</button>
  <br>
<!-- <ion-button size="large" fill="outline" (click)="runSimulation()">
  <ion-icon name="globe"></ion-icon> 
  Run Simulation
</ion-button> -->

</ion-content>
