<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>    
    <ion-title>Scenario Options</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding display="block">  
<!-- 


  *********************Add scenario opiton input Here********************
  
  
  
  *********************Add confirm all inputs modal here********************


-->

<ion-button size="medium" fill="outline" (click)="runSimulation()">
  <ion-icon name="globe"></ion-icon> 
  Run Simulation
</ion-button>

</ion-content>
