<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>I am a...</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button size="large" fill="outline" (click)="setUser('general')">
    General User
  </ion-button>
  <ion-button size="large" fill="outline" (click)="setUser('policy')">
    Policy Maker
  </ion-button>
  <ion-button size="large" fill="outline" (click)="setUser('scientist')">
    Scientist
  </ion-button>
</ion-content>