<ion-header>
  <ion-toolbar>
    <ion-title>Select Intensity:</ion-title>
    <ion-buttons fill="outline" slot="end">
      <ion-button (click)="dismiss()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button size="medium" fill="outline" (click)="runSimulation()">
        Low
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button size="medium" fill="outline" (click)="runSimulation()">
        Medium
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button size="medium" fill="outline" (click)="runSimulation()">
        High
      </ion-button>
    </ion-col>
  </ion-row>

</ion-grid>
