<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- 

  
  *********************Add All Simulation Info Here********************


-->
  <div class = "ion-margin">
    <h1 id="header">
      Team Biosphere
    </h1>
    <img id="logo" src='/assets/icon/LOGO.png'/>

    <p id="sentence1">
      Hello, we are team Biosphere! We are a Capstone group created in the Fall 2020 Semester
    </p>

  </div>
  <ion-button (click)="createPDF()" color="primary">
    Create PDF
  </ion-button>

  <ion-button (click)="downloadPDF()" color="secondary">
    Download PDF
  </ion-button>
</ion-content>
